{% extends "base.html" %}
{% block title %}{{ producto.nombre }}{% endblock %}
{% block content %}
<h1>{{ producto.nombre }}</h1>
<img src="{{ producto.imagen.url }}" width="300" class="mb-3">
<p>{{ producto.descripcion }}</p>
<p><strong>{{ producto.precio }} €</strong></p>

<form action="{% url 'carrito:carrito_add' producto.id %}" method="post">
  {% csrf_token %}
  <input type="number" name="qty" value="1" min="1" max="{{ producto.stock }}">
  <button type="submit" class="btn btn-success">Añadir al carrito</button>
  <input type="hidden" name="next" value="{{ request.path }}">
</form>
{% endblock %}
