{% extends "admin/admin_base.html" %}
{% block title %}Editar producto{% endblock %}
{% block content %}
<h1 class="h4 mb-3">{{ view.object|default_if_none:"Nuevo producto" }}</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-8">
      {{ form.as_p }}
    </div>
    <div class="col-md-4">
      <h6>Tallas y stock</h6>
      {{ formset.management_form }}
      {% for f in formset %}
        <div class="border rounded p-2 mb-2">
          {{ f.as_p }}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="mt-3">
    <button class="btn btn-primary">Guardar</button>
    <a class="btn btn-link" href="{% url 'admin_producto_list' %}">Volver</a>
  </div>
</form>
{% endblock %}
